{:aliases
 {:versions
  {:override-deps
   {
    ;; Dev Deps
    org.clojure/clojurescript  {:mvn/version "1.10.597"}
    com.bhauman/figwheel-main  {:mvn/version "0.2.3"}
    binaryage/devtools         {:mvn/version "0.9.11"}
    day8.re-frame/re-frame-10x {:mvn/version "0.4.5"}
    me.raynes/fs               {:mvn/version "1.4.6"}

    ;; Core Deps
    integrant                  {:git/url "https://github.com/weavejester/integrant"
                                :sha     "ca8d6327708cf291f2f310d476124271fcbe0b89"}
    re-frame                   {:mvn/version "0.11.0"}

    ;; Modules Deps
    metosin/reitit             {:mvn/version "0.3.10"}
    datascript                 {:mvn/version "0.18.7"}

    ;; Test Deps
    day8.re-frame/test         {:mvn/version "0.1.5"}
    org.webjars.npm/bulma      {:mvn/version "0.8.0"}}}}}
